.main-footer {
    padding: 2em 0;
    display: flex;
    justify-content: space-evenly;
}

.main-footer ul {
    list-style: none;
}

.main-footer h1 {
    font-size: 22px;
    line-height: 117%;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 500;
}

.main-footer h2 {
    color: #000000;
    font-weight: 500;
}

.main-footer ul li a {
    color: #000000cc;
    text-decoration: none;
}

footer {
    background-color: #DCF4DD;
    font-size: 17px;
    padding: 15px 5px;
    color: #000000;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #000000;
}

.logoinfo p {
    color: #ff8a5b;
    font-size: 17px;
    margin-top: 5px;
}

.contact-details {
    margin-top: 20px;
}

.contact-details li {
    list-style: none;
    margin: 10px 0;
}

.contact-details li a {
    text-decoration: none;
    color: #000000;
}

.contact-details .fa {
    color: #f1f1f1;
    margin-right: 10px;
}

.sociallogos {
    padding: 20px 0;
}

.socialflex {
    display: flex;
    flex-direction: row;
}

.sociallogos .logobox a {
    padding: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
}

.com ul li {
    padding: 5px 0;
}

@media only screen and (max-width: 749px) {
    .main-footer {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .info {
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .main-footer {
        grid-template-columns: 1fr;
    }
    .sociallogos {
        padding: 20px 0;
    }
    .com {
        padding: 20px 0;
    }
}
