.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-box {
    flex: 1;
    min-width: 199px;
    margin: 10px;
    text-align: center;
}

.product-box img{
    width: 65%;
}