:root {
    --bg-darkest: white;
    --bg-dark: white;
    --bg-light: white;
    --bg-very-light: white;
    --text-gold: white;
}

@import url("https://fonts.cdnfonts.com/css/open-sans");

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
#main {
    display: flex;
    min-height: calc(100vh - 40vh);
    background: #ffffff;
}
#main > article {
    flex: 1;
}
#main > nav,
#main > aside {
    flex: 0 0 20vw;
}
#main > nav {
    order: -1;
}
article,
nav,
aside {
    padding: 1em;
}
header,
footer {
    background: #eff7ff;
}
